.imagen-background {
  object-fit: cover;
  width: 100%;
  filter: brightness(0.3);
  position: absolute;
  z-index: -1;
  height: 150vh;
  image-rendering: optimizeQuality;
}

@media screen and (max-width: 430px) {
  .imagen-background {
    max-width: 100%;
    filter: brightness(0.6);
    max-height: 85vh;
  }
}
